<%= simple_form_for([:admin, @feature]) do |f| %>
    <table class="table">
      <tr>
        <td>Value:</td>
        <td><%= f.input_field :name %></td>
      </tr>
      <tr>
        <td>Active:</td>
        <td><%= f.check_box :active %></td>
      </tr>
      <tr>
        <td></td>
        <td><%= f.button :submit, class: 'btn btn-success' %></td>
      </tr>
    </table>
<% end %>