<%= simple_form_for([:admin, @price]) do |f| %>
    <table class="table">
      <tr>
        <td>Value:</td>
        <td><%= f.input_field :value %></td>
      </tr>
      <tr>
        <td></td>
        <td><%= f.button :submit, class: 'btn btn-small btn-success', value: 'Update' %></td>
      </tr>
    </table>
<% end %>

