<%= simple_form_for([:admin, @type]) do |f| %>
    <table class="table">
      <tr>
        <td>Name:</td>
        <td><%= f.input_field :name, label: false, class: 'span10' %></td>
      </tr>
      <tr>
        <td colspan="2"><%= f.button :submit, class: 'btn btn-success' %> <%= link_to 'Cancel', :back, class: 'btn btn-small btn-default' %></td>
      </tr>
    </table>
<% end %>
