<h1>Listing banners</h1>

<table class="table">
  <tr>
    <th>Banner image</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @banners.each do |banner| %>
  <tr>
    <td><%= image_tag banner.banner_image.url(:thumb).to_s %></td>
    <td><%= link_to 'Show', banner %></td>
    <td><%= link_to 'Destroy', banner, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Banner', new_banner_path %>
