<!--WELCOME TEXT -->
<section id="welcome" class="container">
  <h1>
    <% if !@home_title.empty? %>
    <%= strip_tags @home_title %>
    <% end %>
  </h1>
  <p class="">
    <% if !@home_content.empty? %>
    <%= strip_tags @home_content %>
    <% end %>
  </p>

<!--BANNER  -->
<section class="container">
  <div id="ei-slider" class="ei-slider">
    <ul class="ei-slider-large">
      <li>     <img src="uploaded/1365586698308432.jpg"      alt="image1" /></li> <li>     <img src="uploaded/1365586695205971.jpg"      alt="image2" /></li> <li>     <img src="uploaded/1365586701324973.jpg"      alt="image3" /></li>                </ul>
    <ul class="ei-slider-thumbs">
      <li class="ei-slider-element">Current</li>
      <li><a href="#">Slide 1</a>  <img src="uploaded/1365586698308432.jpg"      alt="image1" /> </li> <li><a href="#">Slide 2</a>  <img src="uploaded/1365586695205971.jpg"      alt="image2" /> </li> <li><a href="#">Slide 3</a> <img src="uploaded/1365586701324973.jpg"      alt="image3" /> </li>
    </ul>

  </div>
</section>


<!--FEATURED -->

<section id="container">
  <div class="container">
    <div class="row our-blog">
      <div class="title-divider span12">
        <div class="divider-arrow"></div>
        <h3>HIGHLIGHTS</h3>
      </div>

      <article class="span3">
        <a href="restaurantdetails.php?id=8" class="read-more"><img src="uploaded/1366128149.jpg" alt="photo" border="0"/></a>
        <p class="l-meta"><span> Dallas, Texas </span></p>
        <h4 class="title"><a href="restaurantdetails.php?id=8">Restaurant</a></h4>
        <p>AAAAAAAAAAAAA </p>
        <a href="restaurantdetails.php?id=8" class="read-more">Read More...</a>
      </article>

      <article class="span3">
        <a href="restaurantdetails.php?id=6" class="read-more"><img src="uploaded/1365590969.jpg" alt="photo" border="0"/></a>
        <p class="l-meta"><span> Dallas, Texas </span></p>
        <h4 class="title"><a href="restaurantdetails.php?id=6">Restaurant 2</a></h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut in lacus rhoncus elit egestas luctus. Nullam at lectus augue. Ut tristique   </p>
        <a href="restaurantdetails.php?id=6" class="read-more">Read More...</a>
      </article>

      <article class="span3">
        <a href="restaurantdetails.php?id=7" class="read-more"><img src="uploaded/1365591009.jpg" alt="photo" border="0"/></a>
        <p class="l-meta"><span> Dallas, Texas </span></p>
        <h4 class="title"><a href="restaurantdetails.php?id=7">Restaurant 1</a></h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut in lacus rhoncus elit egestas luctus. Nullam at lectus augue. Ut tristique   </p>
        <a href="restaurantdetails.php?id=7" class="read-more">Read More...</a>
      </article>

      <article class="span3">
        <a href="restaurantdetails.php?id=5" class="read-more"><img src="uploaded/1365590898.jpg" alt="photo" border="0"/></a>
        <p class="l-meta"><span> Dallas, Texas </span></p>
        <h4 class="title"><a href="restaurantdetails.php?id=5">Restaurant 3</a></h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut in lacus rhoncus elit egestas luctus. Nullam at lectus augue. Ut tristique </p>
        <a href="restaurantdetails.php?id=5" class="read-more">Read More...</a>
      </article>

    </div>
  </div>
</section>
