<h3>Download Our City Guide</h3>
<p>
  <% if !@footer_city_guide.description.empty? %>
      <%= sanitize @footer_city_guide.description %>
  <% end %>
</p>
<p>
  <% if !@footer_city_guide.pdf.url.empty? %>
  <%= link_to "Download guide", @footer_city_guide.pdf.url, class: 'pull-right' %>
  <% end %>
</p>