<header id="header">
  <div class="container header-ext">
    <div class="row">
      <div class="span3 logo">
        <%= link_to image_tag('https://s3.amazonaws.com/tickettothecity/images/logo.jpg'), root_path %>
      </div>
    </div>
    <nav id="menu" class="pull-right">
       <%= render 'layouts/structure/navigation' %>
    </nav>
  </div>
</header>