<section id="welcome" class="container">
  <h1>
    <% if !@home_title.empty? %>
        <%= strip_tags @home_title %>
    <% end %>
  </h1>
  <p class="">
    <% if !@home_content.empty? %>
        <%= strip_tags @home_content %>
    <% end %>
  </p>
</section>