<%= simple_form_for @feature do |f| %>
    <table class="table">
      <tr>
        <td>Value:</td>
        <td><%= f.input_field :value %></td>
      </tr>
      <tr>
        <td>Active:</td>
        <td><%= f.check_box :active %></td>
      </tr>
      <tr>
        <td></td>
        <td><%= f.button :submit %></td>
      </tr>
    </table>
<% end %>